@{
    ViewData["Title"] = "Home Page";
}

<script src="~/style/js/vendor/jquery-2.2.4.min.js"></script>
<script src="~/style/js/vendor/bootstrap.min.js"></script>
<script src="~/js/jquery-3.6.0.js"></script>

@*<script src="~/js/ProductCategory.js"></script>*@
<script src="~/js/LoadProduct.js"></script>

<section id="slider">
    <div class="single-slider">
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        <h1 class="cd-headline clip is-full-width">
                            Learning Marketing
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Facebook</b>
                                <b>Shopee</b>
                                <b>Instagram</b>
                                <b>Tiktok</b>
                            </span>
                        </h1>
                        <p>RubyDigital cung cấp dịch vụ Facebook và các mạng xác hội khác như: Instagram, Tiktok, Twitter, Youtube với chi phí tối ưu nhất. Giúp bạn thu hút khách hàng tiềm năng trên các mạng xã hội.</p>
                        <div class="button-head">
                            <div class="button">
                                <span></span>
                                <a href="#" class="btn">Đăng ký ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section id="features" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Quy trình làm việc đúng chuẩn</h2>
                    <p>Đến với RubyDigital bạn sẽ có ngay một đội ngũ Marketing dày dặn kinh nghiệm, chuyên môn cao mà không tốn thời gian tuyển dụng, đào tạo & Quản lý. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.9s">
                <div class="feature-left">
                    <img src="~/style2/img/computer.jpg" alt="#">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.9s">
                <div class="feature-right">
                    <div class="single-right">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>Tìm hiểu</h3>
                            <P>Sẵn sàng tư vấn, tìm hiểu về về lĩnh vực kinh doanh của khách hàng.Sau đó tư vấn giải pháp phù hợp nhất</P>
                        </div>
                    </div>
                    <div class="single-right">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>Phân tích</h3>
                            <P>Tiến hành phân tích sản phẩm, ưu nhược điểm,xu hướng thị trường, các đối thủ cạnh tranh</P>
                        </div>
                    </div>

                    <div class="single-right">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>Đề xuất</h3>
                            <P>Đưa ra bản kế hoạch chi tiết các giải pháp Marketing & chi phí phù hợp với doanh nghiệp</P>
                        </div>
                    </div>
                    <div class="single-right">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>Thực thi</h3>
                            <P>Tiến hành lên kế hoạch nội dung, lịch biên tập cụ thể cho từng kênh truyền thông</P>
                        </div>
                    </div>
                    <div class="single-right">
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        <div class="right-content">
                            <h3>Báo cáo - Nghiệm thu</h3>
                            <P>Cập nhật tình hình của từng chiến lược cụ thể, minh bạch chi tiết và nghiệm thu</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start popular-post Area -->
@*<section class="popular-post-area pt-100">*@
<div class="container">
    <div class="row align-items-center">
        <div class="active-popular-post-carusel">
            <div class="single-popular-post d-flex flex-row">
                <div class="thumb">
                    <img src="~/style/img/tuvan.png" />
                    @*<img class="img-fluid" src="~/style/img/p1.png" alt="">*@

                </div>
                <div class="details">
                    <a href="#"><h4>Quản lý Fanpage</h4></a>
                    <h6>FACEBOOK</h6>
                    <p>
                        Tư vấn & xây dựng Plan Facebook Marketing thúc đẩy doanh số, tối ưu chi phí quảng cáo, tăng độ phủ sóng cho shop của bạn.
                    </p>
                </div>
            </div>
            <div class="single-popular-post d-flex flex-row">
                <div class="thumb">
                    <img src="~/style/img/banner.png" />
                </div>
                <div class="details">
                    <a href="#"><h4>Thiết kế banner chỉ 100K</h4></a>
                    <h6>DESIGN</h6>
                    <p>
                        Thiết kế Banner chạy chương trình mỗi tháng cho Shop của bạn, thay đổi giao diện Fanpage.
                    </p>
                </div>
            </div>
            <div class="single-popular-post d-flex flex-row">
                <div class="thumb">
                    <img src="~/style/img/video.png" />
                </div>
                <div class="details">
                    <a href="#"><h4>Dựng video quảng cáo chỉ với 500K</h4></a>
                    <h6>FACEBOOK</h6>
                    <p>
                        Sở hữu ngay video quảng cáo sản phẩm giúp tăng độ phủ tiếp cận cao nhất với mức chi phí thấp nhất.
                    </p>
                </div>
            </div>
            <div class="single-popular-post d-flex flex-row">
                <div class="thumb">
                    <img src="~/style/img/congcu.png" />
                </div>
                <div class="details">
                    <a href="#"><h4>Công cụ Marketing</h4></a>
                    <h6>TOOL-CÔNG CỤ</h6>
                    <p>
                        Sở hữu ngay trọn bộ công cụ Marketing tự động tăng độ phủ tiếp cận cao nhất với mức chi phí thấp nhất.
                    </p>
                </div>
            </div>
            <div class="single-popular-post d-flex flex-row">
                <div class="thumb">
                    <img src="~/style/img/marketing.png" />
                </div>
                <div class="details">
                    <a href="#"><h4>Tư vấn chiến lược</h4></a>
                    <h6>Marketing</h6>
                    <p>Nhận tư vấn giải pháp và chiến lược hoàn toàn miễn phí tăng độ phủ tiếp cận cao nhất với mức chi phí thấp nhất.</p>
                </div>
            </div>
            <div class="single-popular-post d-flex flex-row">
                <div class="thumb">
                    <img src="~/style/img/qc.png" />
                </div>
                <div class="details">
                    <a href="#"><h4>Miễn Phí Quảng Cáo</h4></a>
                    <h6>FACEBOOK</h6>
                    <p>
                        Hỗ trợ khởi tạo chiến dịch quảng cáo Facebook Ads / Google Ads tăng độ phủ tiếp cận cao nhất với mức chi phí thấp nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@*</section>*@
<!-- End popular-post Area -->
@*<section class="service-area section-gap" id="service">*@
<div class="container" style="padding-top: 20px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 pb-40 header-text" style="text-align: center;">
            <h1 style="color:#F8AC79;">Tại sao chọn chúng tôi</h1>
            <p>
                Với trên 5 năm làm việc trong lĩnh vực dịch vụ Marketing được tin dùng bởi hàng nghìn khách hàng, chúng tôi không ngừng thay đổi nhằm đáp ứng nhu cầu ngày càng cao của khách hàng sử dụng các trang thương mại điện tử.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-service">
                <h4><span class="lnr lnr-user"></span>BẢO MẬT THÔNG TIN</h4>
                <p>
                    Thông tin khách hàng cung cấp được bảo mật hoàn toàn.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-service">
                <h4><span class="lnr lnr-license"></span>CHI PHÍ RẤT THẤP</h4>
                <p>
                    Dịch vụ Facebook của chúng tôi cam kết giá rẻ nhất thị trường.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-service">
                <h4><span class="lnr lnr-phone"></span>HỖ TRỢ NHIỆT TÌNH</h4>
                <p>
                    Đội ngũ nhân viên trẻ am hiểu công nghệ hỗ trợ khách hàng 24/7.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-service">
                <h4><span class="lnr lnr-rocket"></span>XÂY DỰNG UY TÍN CHO DOANH NGHIỆP</h4>
                <p>
                    Với việc phổ biến thương hiệu trên các mạng xã hội sẽ tăng độ uy tín cho doanh nghiệp.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-service">
                <h4><span class="lnr lnr-diamond"></span>THU HÚT KHÁCH HÀNG TIỀM NĂNG</h4>
                <p>
                    Tối ưu việc tiếp cận khách hàng tiềm năng của bạn trên mạng xã hội với quảng cáo.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-service">
                <h4><span class="lnr lnr-bubble"></span>TĂNG TƯƠNG TÁC TÀI KHOẢN</h4>
                <p>
                    Với các dịch vụ tăng like, theo dõi, chia sẻ, bình luận seeding bài viết giúp tăng tương tác nick.
                </p>
            </div>
        </div>
    </div>
</div>
@*</section>*@
<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
    <div class="container" style="padding-top: 0px; padding-top: 0px; padding-bottom: 50px;background-color: #F2F6F7;">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Dịch vụ cung cấp</h1>
                    <p>Chúng tôi chuyên cung cấp các dịch vụ Marketing Facebook - Shopee - Lazada - Tiki.</p>
                </div>
            </div>
        </div>
        <div class="row" id="loaddata">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-fcat">
                    <a href="category.html">
                        <img src="~/style/img/o1.png" alt="">
                    </a>
                    <p>Accounting</p>
                </div>
            </div>
            @*<div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="img/o2.png" alt="">
                        </a>
                        <p>Development</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="img/o3.png" alt="">
                        </a>
                        <p>Technology</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="img/o4.png" alt="">
                        </a>
                        <p>Media & News</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="img/o5.png" alt="">
                        </a>
                        <p>Medical</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="single-fcat">
                        <a href="category.html">
                            <img src="img/o6.png" alt="">
                        </a>
                        <p>Goverment</p>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<!-- End feature-cat Area -->
<!-- Start post Area -->
<section class="post-area section-gap" style="padding-bottom:0px;">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                <ul class="cat-list">
                    <li><a onclick="detailproductfb()">FACEBOOK</a></li>
                    <li><a onclick="detailproductins()">INSTAGRAM</a></li>
                    <li><a onclick="detailproducttiktok()">TIKTOK</a></li>
                    <li><a onclick="detailproductshopee()">SHOPEE</a></li>
                    <li><a onclick="detailproductlazada()">LAZADA</a></li>
                    <li><a onclick="detailproducttiki()">TIKI</a></li>
                </ul>
                <div id="detailproduct">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="~/style/img/post.png" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>Creative Art Designer</h4></a>
                                    <h6>Premium Labels Limited</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                    </div>
                </div>

                <div id="detailproductins">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="~/style/img/post.png" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>Creative Art Designer</h4></a>
                                    <h6>Premium Labels Limited</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                    </div>
                </div>
                <div id="detailproducttiktok">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="~/style/img/post.png" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>Creative Art Designer</h4></a>
                                    <h6>Premium Labels Limited</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                    </div>
                </div>
                <div id="detailproductshopee">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="~/style/img/post.png" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>Creative Art Designer</h4></a>
                                    <h6>Premium Labels Limited</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                    </div>
                </div>
                <div id="detailproductlazada">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="~/style/img/post.png" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>Creative Art Designer</h4></a>
                                    <h6>Premium Labels Limited</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                    </div>
                </div>
                <div id="detailproducttiki">
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="~/style/img/post.png" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="#">Art</a>
                                </li>
                                <li>
                                    <a href="#">Media</a>
                                </li>
                                <li>
                                    <a href="#">Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="single.html"><h4>Creative Art Designer</h4></a>
                                    <h6>Premium Labels Limited</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                    <li><a href="#">Apply</a></li>
                                </ul>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                        </div>
                    </div>
                </div>
                <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="single-slidebar">
                    <h4>Tin tức - Mẹo vặt Marketing</h4>
                    <ul class="cat-list">
                        <li><a class="justify-content-between d-flex" href="category.html"><p>New York</p><span>37</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Park Montana</p><span>57</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Atlanta</p><span>33</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Arizona</p><span>36</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Florida</p><span>47</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Rocky Beach</p><span>27</span></a></li>
                        <li><a class="justify-content-between d-flex" href="category.html"><p>Chicago</p><span>17</span></a></li>
                    </ul>
                </div>

                <div class="single-slidebar">
                    <h4>Top rated job posts</h4>
                    <div class="active-relatedjob-carusel">
                        <div class="single-rated">
                            <img class="img-fluid" src="~/style/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="~/style/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                        <div class="single-rated">
                            <img class="img-fluid" src="~/style/img/r1.jpg" alt="">
                            <a href="single.html"><h4>Creative Art Designer</h4></a>
                            <h6>Premium Labels Limited</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
                            </p>
                            <h5>Job Nature: Full time</h5>
                            <p class="address"><span class="lnr lnr-map"></span> 56/8, Panthapath Dhanmondi Dhaka</p>
                            <p class="address"><span class="lnr lnr-database"></span> 15k - 25k</p>
                            <a href="#" class="btns text-uppercase">Apply job</a>
                        </div>
                    </div>
                </div>

                @*<div class="single-slidebar">
                        <h4>Jobs by Category</h4>
                        <ul class="cat-list">
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Technology</p><span>37</span></a></li>
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Media & News</p><span>57</span></a></li>
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Goverment</p><span>33</span></a></li>
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Medical</p><span>36</span></a></li>
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Restaurants</p><span>47</span></a></li>
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Developer</p><span>27</span></a></li>
                            <li><a class="justify-content-between d-flex" href="category.html"><p>Accounting</p><span>17</span></a></li>
                        </ul>
                    </div>*@



            </div>
        </div>
    </div>
</section>


<!-- Pricing Table -->
<section class="p-table4 section" style="background-color:#F9FAFC;padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title" style="padding-bottom: 0px;margin-bottom: 0px;">
                    <h2>BẢNG GIÁ COMBO ƯU ĐÃI</h2>
                    @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>*@
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: -50px;">
            <!-- Single Table -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="title-head">
                            <h2 class="title">Basic</h2>
                        </div>
                        <div class="price">
                            <p class="amount"><span>$</span>19</p>
                        </div>
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Responsive( Mobile Website)</li>
                        <li>24/7 Technic Support</li>
                        <li>1 Year Hosting Free</li>
                        <li>Image slider (Animation)</li>
                        <li>Unlimited Email Account</li>
                        <li>Free Domain Name</li>
                    </ul>
                    <div class="button-head">
                        <div class="button">
                            <span></span>
                            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>buy now</a>
                        </div>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="title-head">
                            <h2 class="title">Medium</h2>
                        </div>
                        <div class="price">
                            <p class="amount"><span>$</span>25</p>
                        </div>
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Responsive( Mobile Website)</li>
                        <li>24/7 Technic Support</li>
                        <li>1 Year Hosting Free</li>
                        <li>Image slider (Animation)</li>
                        <li>Unlimited Email Account</li>
                        <li>Free Domain Name</li>
                    </ul>
                    <div class="button-head">
                        <div class="button">
                            <span></span>
                            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>buy now</a>
                        </div>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="title-head">
                            <h2 class="title">Advanced</h2>
                        </div>
                        <div class="price">
                            <p class="amount"><span>$</span>55</p>
                        </div>
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li>Responsive( Mobile Website)</li>
                        <li>24/7 Technic Support</li>
                        <li>1 Year Hosting Free</li>
                        <li>Image slider (Animation)</li>
                        <li>Unlimited Email Account</li>
                        <li>Free Domain Name</li>
                    </ul>
                    <div class="button-head">
                        <div class="button">
                            <span></span>
                            <a href="#" class="btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>buy now</a>
                        </div>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
        </div>
    </div>
</section>
<!--/ End Pricing Table -->
<!-- ***** Blog Start ***** -->
<section class="section" id="blog" style="padding-top:20px;">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="section-title" style="padding-bottom: 0px;text-align:center;">
                <h2 data-aos="fade-in">TIN TỨC - KHUYẾN MÃI</h2>
                <p data-aos="fade-in">Hãy cùng khám phá nhiều thủ thuật, kinh nghiệm hay về Marketing và quản trị các sàn thương mại điện tử cùng chúng tôi.</p>
            </div>

        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row" id="bloghome">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="~/assets/img/blog-item-01.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Vivamus ac vehicula dui</a>
                        </h3>
                        <div class="text">
                            Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Blog End ***** -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container" style="padding-top: 20px;padding-bottom: 20px;">

        <div class="section-title" style="padding-top:0px;">
            <h2 data-aos="fade-in">LIÊN HỆ</h2>
            <p data-aos="fade-in">Để đăng ký dịch vụ một cách nhanh chóng và an toàn, vui lòng liên hệ chúng tôi qua thông tin dưới đây.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-custom gutter-b card-stretch">
                            <div class="card-body pt-4 d-flex flex-column justify-content-between">
                                <div class="text-center mb-10">
                                    <div class="symbol symbol-60 symbol-circle symbol-xl-90">
                                        <img style=" width: 90px; height: 90px;border-radius: 50%;" src="~/assets/img/contactthuan.jpg" />
                                        <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                                    </div>
                                    <h4 class="font-weight-bold my-2">Lê Xuân Thuận</h4>
                                    <div class="text-muted mb-2">CEO &amp; Người Điều Hành</div><div class="mt-2">
                                        <a href="https://www.facebook.com/thuanlemkt/" class="btn btn-sm btn-primary font-weight-bold mr-1">Liên Hệ Facebook</a>
                                        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fzalo.me%2F0364480525%3Ffbclid%3DIwAR0uwhOh_eBsBkmJDZuaQy-VqdTX8rSTVRP9Hu2_Socc_6Dw3yX5Cm-x3yI&amp;h=AT2Pw1RcRmZA2vGq63zn8gbqTnjBCJrLzhc8W_kDMl7R3gP7jtSThBwDsG_FwSTVqYkAAJZZhJ0mhfu2hbKVTkp7kVjXNdOtx4NzO9SWlDSDe-AZ4rmBgtuk8nPDOAGkr4F53w" class="btn btn-sm btn-success font-weight-bold">Liên Hệ Zalo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="fa fa-paper-plane"></i>
                            <h3>Email</h3>
                            <p>lthuan217@gmail.com<br>thuanle.it@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="fa fa-phone"></i>
                            <h3>SĐT</h3>
                            <p>+84 036 448 0525<br>+1 6678 254445 41</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                    <h1 class="mb-10" style="text-align:center;margin-bottom:20px;">Gửi yêu cầu cần hỗ trợ</h1>
                    @*<h2 style="text-align:center;margin-bottom:20px;">Gửi yêu cầu cần hỗ trợ</h2>*@
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div style="margin-top:30px;" class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
@*<link rel="stylesheet" href="~/style2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/style2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/style2/css/owl.theme.default.min.css">*@
<link rel="stylesheet" href="~/style2/css/animate.min.css">
<link rel="stylesheet" href="~/style2/css/animate-text.css">
<link rel="stylesheet" href="~/style2/css/magnific-popup.css">
<link rel="stylesheet" href="~/style2/css/font-awesome.min.css">

<!-- Ruby CSS -->
<link rel="stylesheet" href="~/style2/css/normalize.css">
<link rel="stylesheet" href="~/style2/style.css">
<link rel="stylesheet" href="~/style2/css/responsive.css">

<!-- Color CSS -->
<link rel="stylesheet" href="~/style2/css/color/color7.css">
<style>
    .symbol-label {
        background-image: url("https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/141946959_1127943507664435_31888265902470559_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=8THkIjf-lOkAX8GSUik&_nc_ht=scontent.fhan14-2.fna&oh=bfa549f28d0fe8bf9a325095fc14b84a&oe=60CFF779");
    }

    .single-popular-post {
        background-color: #BDF1D1;
        width: 555px;
    }

    .post-list .single-post {
        background-color: #eef2fb;
    }

    .mb-10 {
        color: #F8AC79;
    }

    .single-service {
        /*padding: 20px;*/
        background: #F6F6F6;
        /* margin-top: 30px;*/
        text-align: center;
        transition: all 0.6s ease;
        position: relative;
        box-shadow: 0px 0px 7px #0003;
        /* background-color: #f9f9ff; */
        /* padding: 30px; */
        /* margin-bottom: 30px; */
        /* -webkit-transition: all 0.3s ease 0s; */
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        /* transition: all 0.3s ease 0s; */
    }
</style>